<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="style.css">
<head>
    <title>Giới Thiệu</title>
    <style>
       
    </style>
</head>
<body>
    <header>
        <h1>Giới Thiệu Về Chúng Tôi</h1>
    </header>

    <div class="container">
        <div class="intro">
            <h2>Lịch Sử Của Cửa Hàng</h2>
            <p>Chúng tôi đã khởi đầu từ năm 20XX và đã trở thành một trong những cửa hàng quần áo hàng đầu tại khu vực. Với hơn một thập kỷ kinh nghiệm trong ngành thời trang, chúng tôi luôn nỗ lực cung cấp sản phẩm chất lượng và dịch vụ tốt nhất cho khách hàng.</p>

            <h2>Triết Lý Kinh Doanh</h2>
            <p>Triết lý kinh doanh của chúng tôi là tạo ra những sản phẩm thời trang độc đáo, thời trang và thoải mái cho mọi người. Chúng tôi cam kết phục vụ khách hàng với tận tâm và sự chuyên nghiệp, và luôn luôn theo đuổi sự hoàn thiện trong mọi khía cạnh.</p>

            <h2>Mục Tiêu Của Chúng Tôi</h2>
            <p>Mục tiêu của chúng tôi là trở thành địa điểm mua sắm thời trang ưa thích của mọi người. Chúng tôi luôn cập nhật bộ sưu tập sản phẩm mới nhất và đa dạng, đảm bảo rằng bạn sẽ luôn tìm thấy những điều bạn yêu thích tại cửa hàng của chúng tôi.</p>
        </div>
    </div>
</body>
</html>