<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Admin</title>
</head>

<body>

    <body>

        <div id="mySidenav" class="sidenav">
			<p class="logo"><span>A</span>dmin</p>
			<a href="index.html" class="icon-a"><i class="fa fa-dashboard icons"></i> <span>Bảng Điều Khiển</span> </a>
			<a href="catelory.html" class="icon-a"><i class="fa fa-folder-open icons"></i> <span>Quản Lý Danh Mục</span></a>
			<a href="products.html" class="icon-a"><i class="fa fa-folder-plus icons"></i> <span>Quản Lý Sản Phẩm</span></a>
			<a href="order.html" class="icon-a"><i class="fa fa-shopping-bag icons"></i> <span>Quản Lý Đơn hàng</span></a>
			<a href="#" class="icon-a"><i class="fa fa-user icons"></i> <span>Quản Lý Thành Viên</span></a>
			<p class="logout"><a href="#"><i class="fa-solid fa-right-from-bracket"></i> <span>Đăng Xuất</span></a></p>
		</div>
        <div id="main">
            <!-- Phần Đầu -->
            <div class="head">
                <div class="col-div-6">
                    <span style="font-size:30px;cursor:pointer; color: #342E37;" class="nav">☰ Sản Phẩm</span>
                    <span style="font-size:30px;cursor:pointer; color: #342E37;" class="nav2">☰ Sản Phẩm</span>
                </div>

                <div class="col-div-6">
                    <div class="profile">

                        <img src="images/user.png" class="pro-img" />
                        <p>Admin </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <!-- Phần chính -->

            <div class="container_table">
                <div class="addnew">
                    <a class="addspnew" href="#">Thêm Sản Phẩm</a>
                </div>
                <table class="table_form">
                    <tr>
                        <th class="thead">#</th>
                        <th class="thead">Tên sản phẩm</th>
                        <th class="thead">Hình ảnh</th>
                        <th class="thead">Danh mục</th>
                        <th class="thead">Thao Tác</th>
                    </tr>
                    <tr>
                        <td class="tbody">1</td>
                        <td class="tbody">Sản phẩm 1</td>
                        <td class="tbody"><img src="images/topsp1.webp" alt=""></td>
                        <td class="tbody">Danh mục 1</td>
                        <td class="tbody"><a href="#"> Xóa</a> - <a href="#">Sửa</a></td>
                    </tr>
                    <tr>
                        <td class="tbody">1</td>
                        <td class="tbody">Sản phẩm 1</td>
                        <td class="tbody"><img src="images/topsp1.webp" alt=""></td>
                        <td class="tbody">Danh mục 1</td>
                        <td class="tbody"><a href="#"> Xóa</a> - <a href="#">Sửa</a></td>
                    </tr>
                    <tr>
                        <td class="tbody">1</td>
                        <td class="tbody">Sản phẩm 1</td>
                        <td class="tbody"><img src="images/topsp1.webp" alt=""></td>
                        <td class="tbody">Danh mục 1</td>
                        <td class="tbody"><a href="#"> Xóa</a> - <a href="#">Sửa</a></td>
                    </tr>
                    <tr>
                        <td class="tbody">1</td>
                        <td class="tbody">Sản phẩm 1</td>
                        <td class="tbody"><img src="images/topsp1.webp" alt=""></td>
                        <td class="tbody">Danh mục 1</td>
                        <td class="tbody"><a href="#"> Xóa</a> - <a href="#">Sửa</a></td>
                    </tr>
                    <tr>
                        <td class="tbody">1</td>
                        <td class="tbody">Sản phẩm 1</td>
                        <td class="tbody"><img src="images/topsp1.webp" alt=""></td>
                        <td class="tbody">Danh mục 1</td>
                        <td class="tbody"><a href="#"> Xóa</a> - <a href="#">Sửa</a></td>
                    </tr>
                    <tr>
                        <td class="tbody">1</td>
                        <td class="tbody">Sản phẩm 1</td>
                        <td class="tbody"><img src="images/topsp1.webp" alt=""></td>
                        <td class="tbody">Danh mục 1</td>
                        <td class="tbody"><a href="#"> Xóa</a> - <a href="#">Sửa</a></td>
                    </tr>
                    <tr>
                        <td class="tbody">1</td>
                        <td class="tbody">Sản phẩm 1</td>
                        <td class="tbody"><img src="images/topsp1.webp" alt=""></td>
                        <td class="tbody">Danh mục 1</td>
                        <td class="tbody"><a href="#"> Xóa</a> - <a href="#">Sửa</a></td>
                    </tr>
                    <tr>
                        <td class="tbody">1</td>
                        <td class="tbody">Sản phẩm 1</td>
                        <td class="tbody"><img src="images/topsp1.webp" alt=""></td>
                        <td class="tbody">Danh mục 1</td>
                        <td class="tbody"><a href="#"> Xóa</a> - <a href="#">Sửa</a></td>
                    </tr>
                    <tr>
                        <td class="tbody">1</td>
                        <td class="tbody">Sản phẩm 1</td>
                        <td class="tbody"><img src="images/topsp1.webp" alt=""></td>
                        <td class="tbody">Danh mục 1</td>
                        <td class="tbody"><a href="#"> Xóa</a> - <a href="#">Sửa</a></td>
                    </tr>


                </table>
                <div class="clearfix"></div>
            </div>
            <form action="" class="forms">
                <h1 class="title">Nhập sản phẩm</h1>
                <label for="">Tên sản phẩm</label>
                <input type="text" name="name" placeholder="Nhập tên sản phẩm.." class="input"><br>
                <label for="">Hình ảnh</label>
                <input type="file" name="image" class="input"><br>
                <label for="">Giá</label>
                <input type="text" name="price" placeholder="Nhập giá sản phẩm...." class="input"><br>
                <label for="">Danh mục</label>
                <select name="" class="select">
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                </select>

                <button class="button">Thêm mới</button>
                <span class="close">X</span>
            </form>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/main.js"></script>

        <script>

            $(".nav").click(function () {
                $("#mySidenav").css('width', '70px');
                $("#main").css('margin-left', '70px');
                $(".logo").css('visibility', 'hidden');
                $(".logo span").css('visibility', 'visible');
                $(".logo span").css('margin-left', '-10px');
                $(".icon-a").css('visibility', 'hidden');
                $(".icons").css('visibility', 'visible');
                $(".icons").css('margin-left', '-8px');
                $(".nav").css('display', 'none');
                $(".nav2").css('display', 'block');
            });

            $(".nav2").click(function () {
                $("#mySidenav").css('width', '300px');
                $("#main").css('margin-left', '300px');
                $(".logo").css('visibility', 'visible');
                $(".icon-a").css('visibility', 'visible');
                $(".icons").css('visibility', 'visible');
                $(".nav").css('display', 'block');
                $(".nav2").css('display', 'none');
            });
        </script>

    </body>

</body>

</html>